* {
    margin: 0;
    padding: 0;
}

.wrapper{
    display: flex;
    justify-content: center;
    margin: 200px 0 0;
}

#field{
    display: flex;
    flex-direction: column;
    border-top: 2px solid #999;
    border-left: 2px solid #999;
}

#field .row{
    display: flex; 
    flex-direction: row;
    border-bottom: 2px solid #999;
}

#field .row div{
    border-right: 2px solid #999;
    padding: 10px 15px;   
    width: 40px;
    height: 30px;
    color: #666;
}

#line{
    margin: 50px 0 0;
    display: flex; 
    flex-direction: row;
}

#line div{
    border: 2px solid #999;
    border-left: none;
    padding: 5px 10px;
    color: #666;
}

#line div:first{
    border-left: 2px solid #999;
}

.flashMe{
    animation-name: cellFlashHighlight;
    animation-duration: 2.5s;
}

@keyframes cellFlashHighlight{
    from {
        background-color: fuchsia;
        color: aqua;
        border-color:  black;
    }
    to{
        background-color: unset;
        color: #666;
        border-color: #999;
    }
}