* {
    margin: 0;
    padding: 0;
}

.wrapper{
    display: flex;
    justify-content: center;    
    margin: 80px 0;
}

#field{
    display: flex;
    flex-direction: column;
    border-top: 2px solid #999;
    border-left: 2px solid #999;
}

#field .row{
    display: flex; 
    flex-direction: row;
    border-bottom: 2px solid #999;
}

#field .row div{
    border-right: 2px solid #999;
    padding: 10px 15px;   
    width: 40px;
    height: 30px;
    color: #666;
}

#line{
    margin: 50px 0 0;
    display: flex; 
    flex-direction: row;
}

#line div{
    border: 2px solid #999;
    border-left: none;
    padding: 5px 10px;
    color: #666;
}

#line :first-child{
    border-left: 2px solid #999;
    margin-left: 90px;
}

.flashMe{
    animation-name: cellFlashHighlight;
    animation-duration: 2.5s;
}

.svgPoint{
    fill: #666;
    stroke: #000;
    stroke-width: 1;
    r: 4;
    animation-name: pointFlashHighlight;
    animation-duration: 1.5s;
}

@keyframes pointFlashHighlight{
    from {
        fill: fuchsia;
        stroke: aqua;
        r: 10;
    }
    to{
        fill: #666;
        stroke: #000;
        r: 4;
    }
}

@keyframes cellFlashHighlight{
    from {
        background-color: fuchsia;
        color: aqua;
        border-color:  black;
    }
    to{
        background-color: unset;
        color: #666;
        border-color: #999;
    }
}